<ion-header mode="ios" no-shadow>
  <ion-toolbar mode="ios" border-bottom>
    <ion-title text-center>我的艺术馆</ion-title>
    <ion-buttons menuToggle mode="ios" right>
      <button ion-button>
        <ion-icon name="menu" color="dark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label stacked>当前版本:</ion-label>
        <ion-label stacked>{{versionInfoModel.osStr}} {{versionInfoModel.currentVersion}}</ion-label>
      </ion-list-header>
    </ion-list>
    <!--<button ion-button full *ngIf="canUpdate==1" (click)="doUpgrade()">升级</button>-->
    <ion-list>
      <a *ngIf="canUpdate==1"  href="{{newUrl}}">升级</a>
    </ion-list>
  </ion-card>
</ion-content>
