<ion-header mode="ios" no-shadow>
  <ion-toolbar mode="ios">
    <ion-title text-center>
      <img src="assets/images/head_logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider [options]="mySlideOptions" >
    <ion-slide *ngFor="let contentInfo of contentInfosBANNER">
      <img src="{{contentInfo.imgName}}" (click)="goContentPage(contentInfo.id)"/>
    </ion-slide>
  </ion-slides>
  <div class="thumb-image">
    <div class="cell">
      <img (click)="tabs.goSelected2(1, 0)" src="assets/images/home_qxjt.png" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected2(1, 1)" src="assets/images/home_qxjc.png" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected2(1, 2)" src="assets/images/home_qxzt.png" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected2(1, 3)" src="assets/images/home_qxwt.png" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected2(1, 4)" src="assets/images/home_zyzxy.png" />
    </div>
  </div>

  <!-- 小辉修改 -->
  <ion-toolbar  *ngIf="hasTraining==1" class="more" mode="md" bg-white no-padding-top no-padding-bottom>
    <ion-segment mode="md">
      <ion-segment-button mode="md" text-left>
        <span color="dark">培训通知</span>
      </ion-segment-button>
      <ion-buttons mode="ios" right>
        <button ion-button (click)="goToTrainingPage()">
          <span>更多信息</span>
          <ion-icon name="arrow-forward"></ion-icon>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-segment>
  </ion-toolbar>
  <ion-list   *ngIf="hasTraining==1">
    <ion-list-header text-wrap no-margin-bottom *ngFor="let contentInfo of contentInfosPXTZ"  (click)="goContentPage(contentInfo.id)">
      <h2>{{contentInfo.title}}</h2>
      <p>{{contentInfo.subTitle}}</p>
    </ion-list-header>
  </ion-list>


  <!-- 英博修改 -->
  <ion-toolbar class="more" mode="md" bg-white no-padding-top no-padding-bottom>
    <ion-segment mode="md">
      <ion-segment-button mode="md" text-left>
        <span color="dark">群文咨讯</span>
      </ion-segment-button>
      <ion-buttons mode="ios" right>
        <button ion-button (click)="tabs.goSelected(3)">
          <span >更多信息</span>
          <ion-icon name="arrow-forward"></ion-icon>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-segment>
  </ion-toolbar>
  <div class="compaign">
    <div class="compaign-content">
      <div class="compaign-row">
        <div class="compaign-cell" *ngFor="let contentInfo of  contentInfosQWZX1"  (click)="goContentPage(contentInfo.id)">
          <img src="{{contentInfo.imgName}}" />
          <p>{{contentInfo.title}}</p>
        </div>
      </div>
      <div class="compaign-row" >
        <div class="compaign-cell" *ngFor="let contentInfo of  contentInfosQWZX2"  (click)="goContentPage(contentInfo.id)">
          <img src="{{contentInfo.imgName}}" />
          <p>{{contentInfo.title}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 英博修改 -->
  <ion-toolbar class="more" mode="md" bg-white no-padding-top no-padding-bottom no-border-bottom>
    <ion-segment mode="md">
      <ion-segment-button mode="md" text-left>
        <span color="dark">非遗文化</span>
      </ion-segment-button>
      <ion-buttons mode="ios" right>
        <button ion-button (click)="tabs.goSelected(2)">
          <span>更多信息</span>
          <ion-icon name="arrow-forward"></ion-icon>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar mode="md" bg-white no-padding-top no-padding-bottom>
    <ion-segment mode="md" border-bottom [(ngModel)]="legacy">
      <ion-segment-button value="puppies">
        <span>非遗动态</span>
      </ion-segment-button>
      <ion-segment-button value="kittens">
        <span>非遗名录</span>
      </ion-segment-button>
      <ion-segment-button value="ducklings">
        <span>非遗规章</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="legacy">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-list-header text-wrap no-margin-bottom *ngFor="let contentInfo of contentInfosFYDT"  (click)="goContentPage(contentInfo.id)">
        <ion-thumbnail item-left>
          <img src="{{contentInfo.imgName}}" />
        </ion-thumbnail>
        <h2>{{contentInfo.title}}</h2>
        <p>{{contentInfo.subTitle}}</p>
      </ion-list-header>
    </ion-list>
    <ion-list *ngSwitchCase="'kittens'">
      <ion-list-header text-wrap no-margin-bottom *ngFor="let contentInfo of contentInfosFYML"  (click)="goContentPage(contentInfo.id)">
        <ion-thumbnail item-left>
          <img src="{{contentInfo.imgName}}" />
        </ion-thumbnail>
        <h2>{{contentInfo.title}}</h2>
        <p>{{contentInfo.subTitle}}</p>
      </ion-list-header>
    </ion-list>
    <ion-list *ngSwitchCase="'ducklings'">
      <ion-list-header text-wrap no-margin-bottom *ngFor="let contentInfo of contentInfosFYGZ"  (click)="goContentPage(contentInfo.id)">
        <ion-thumbnail item-left>
          <img src="{{contentInfo.imgName}}" />
        </ion-thumbnail>
        <h2>{{contentInfo.title}}</h2>
        <p>{{contentInfo.subTitle}}</p>
      </ion-list-header>
    </ion-list>
  </div>

  <!-- 英博修改 -->
  <ion-toolbar class="more" mode="md" bg-white no-padding-top no-padding-bottom>
    <ion-segment mode="md">
      <ion-segment-button mode="md" text-left>
        <span color="dark">推荐内容</span>
      </ion-segment-button>
      <ion-buttons mode="ios" right>
        <button ion-button (click)="goToRecommandPage()">
          <span>更多信息</span>
          <ion-icon name="arrow-forward"></ion-icon>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-segment>
  </ion-toolbar>
  <ion-list>
    <ion-list-header text-wrap no-margin-bottom *ngFor="let contentInfo of contentInfosTJNR"  (click)="goContentPage(contentInfo.id)">
      <ion-thumbnail item-left>
        <img src="{{contentInfo.imgName}}" />
      </ion-thumbnail>
      <h2>{{contentInfo.title}}</h2>
      <p>{{contentInfo.subTitle}}</p>
    </ion-list-header>
  </ion-list>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="600">
    <ion-refresher-content
      pullingText="我刷,我刷,我刷刷刷"
      refreshingSpinner="circles"
      refreshingText="正在努力加载,请稍后...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
