<ion-header>
  <ion-toolbar>
    <ion-title>大连群众艺术馆</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #mySlider [options]="mySlideOptions">
    <ion-slide>
      <img src="/assets/images/culture.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/culture.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/culture.jpg" />
    </ion-slide>
  </ion-slides>
  <div class="thumb-image">
    <div class="cell">
      <img (click)="tabs.goSelected(1)" src="/assets/images/culture.jpg" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected(1)" src="/assets/images/culture.jpg" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected(1)" src="/assets/images/culture.jpg" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected(1)" src="/assets/images/culture.jpg" />
    </div>
    <div class="cell">
      <img (click)="tabs.goSelected(1)" src="/assets/images/culture.jpg" />
    </div>
  </div>


  <div class="compaign">
    <div class="compaign-head">
      <h2>群文咨讯</h2>
      <a href="javascript:" class="readmore" (click)="tabs.goSelected(3)">显示更多<ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon></a>
    </div>
    <div class="compaign-content">
      <div class="compaign-row">
        <div class="compaign-cell">
          <img src="/assets/images/culture.jpg" />
          <p>"群星剧场"纪念长征胜利80周年演唱会</p>
        </div>
        <div class="compaign-cell">
          <img src="/assets/images/culture.jpg" />
          <p>"群星剧场"纪念长征胜利80周年演唱会</p>
        </div>
      </div>
      <div class="compaign-row">
        <div class="compaign-cell">
          <img src="/assets/images/culture.jpg" />
          <p>"群星剧场"纪念长征胜利80周年演唱会</p>
        </div>
        <div class="compaign-cell">
          <img src="/assets/images/culture.jpg" />
          <p>"群星剧场"纪念长征胜利80周年演唱会</p>
        </div>
      </div>
    </div>
  </div>

  <div class="segments" [ngStyle]="{'height': 'calc(61px + 2rem + '+3+'*(8rem + 16px))'}">
    <ion-header>
      <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="legacy">
          <ion-segment-button value="puppies">
            <span>非遗动态</span>
          </ion-segment-button>
          <ion-segment-button value="kittens">
            <span>非遗名录</span>
          </ion-segment-button>
          <ion-segment-button value="ducklings">
            <span>非遗规章</span>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div [ngSwitch]="legacy">
        <ion-list *ngSwitchCase="'puppies'">
          <ion-item *ngFor="let contentInfo of contentInfosFYDT">
            <ion-thumbnail item-left>
              <img src="{{contentInfo.imageName}}" />
            </ion-thumbnail>
            <h2>{{contentInfo.title}}</h2>
            <p>{{contentInfo.content}}</p>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'kittens'">
          <ion-item *ngFor="let contentInfo of contentInfosFYML">
            <ion-thumbnail item-left>
              <img src="{{contentInfo.imageName}}" />
            </ion-thumbnail>
            <h2>{{contentInfo.title}}</h2>
            <p>{{contentInfo.content}}</p>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'ducklings'">
          <ion-item *ngFor="let contentInfo of contentInfosFYGZ">
            <ion-thumbnail item-left>
              <img src="{{contentInfo.imageName}}" />
            </ion-thumbnail>
            <h2>{{contentInfo.title}}</h2>
            <p>{{contentInfo.content}}</p>
          </ion-item>
        </ion-list>
      </div>
      <div>
        <a href="javascript:" class="readmore" (click)="tabs.goSelected(2)">显示更多<ion-icon ios="ios-arrow-down" md="md-arrow-down" ></ion-icon></a>
      </div>
    </ion-content>
  </div>



  <div class="suggestion">
    <div class="suggestion-head">
      <h2>推荐内容</h2>
      <a href="javascript:" class="readmore">显示更多<ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon></a>
    </div>
    <ion-list>
      <ion-item  *ngFor="let contentInfo of contentInfosTJNR">
        <ion-thumbnail item-left>
          <img src="{{contentInfo.imageName}}" />
        </ion-thumbnail>
        <h2>{{contentInfo.title}}</h2>
        <p>{{contentInfo.content}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
