content-list-page {

	ion-toolbar {
		min-height: 44px !important;

		ion-segment-button {
			border-color: #fff !important;
		}
	
		ion-segment-button.segment-activated {
			border-color: $themeColor !important;
			color: $themeColor !important;
		}

		[border-bottom] {
			border-bottom: 1px solid #ddd !important;
		}
	}

	ion-content {
		.scroll-content {
			border-top: none !important;
		}
	}

	[no-padding-top] {
		padding-top: 0 !important;
	}

	[no-padding-bottom] {
		padding-bottom: 0 !important;
	}

	[bg-white] {
		.toolbar-background {
			background: #fff !important;
		}
	}
}

