column-tabs-page {

	.ion-tab-icon-base {
		width: 32px;
		height: 32px;
		padding: 4px 4px 2px;
	}

	.ion-tab-icon-md-base {
		min-width: 0 !important;
		height: 32px;
	}

	@for $i from 0 to 10 {
		//for ios
		.ion-ios-tab0#{$i} {
			@extend .ion-tab-icon-base;
			content: url("../assets/images/tab0#{$i}_active.png");
		}
		.ion-ios-tab0#{$i}-outline {
			@extend .ion-tab-icon-base;
			content: url("../assets/images/tab0#{$i}.png");
		}
	}

}
