column-with-tab {
	ion-title {
		text-align: center !important;
	}

	ion-segment-button {
		border-color: #fff !important;
	}

	ion-segment-button.segment-activated {
		border-color: $themeColor !important;
		color: $themeColor !important;
	}
}

