<ion-header mode="ios" no-shadow>
  <ion-toolbar mode="ios" border-bottom>
    <ion-buttons mode="ios" left>
      <button ion-button>
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{columnInfoModel.columnName}}</ion-title>
  </ion-toolbar>

  <ion-toolbar mode="md" bg-white no-padding-top no-padding-bottom *ngIf="hasNavTab">
    <ion-segment mode="md" color="dark" border-bottom [(ngModel)]="selectedNavTabId">
      <ion-segment-button *ngFor="let navTab of columnInfoModel.navTabs" value="{{navTab.tabId}}" (ionSelect)="selectedSubTab(navTab)">
        <span>{{navTab.tabName}}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="600">
    <ion-refresher-content
      pullingText="我刷,我刷,我刷刷刷"
      refreshingSpinner="circles"
      refreshingText="正在努力加载,请稍后...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header *ngFor="let item of items">
      <ion-thumbnail item-left>
        <img src="{{item.icon}}" alt="" />
      </ion-thumbnail >
      <h2>{{item.title}}</h2>
      <p>{{item.note}}</p>
    </ion-list-header>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
