<ion-header mode="ios" no-shadow>
  <ion-toolbar mode="ios" no-border-bottom>
    <ion-buttons mode="ios" left>
      <button ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{columnModel.columnName}}</ion-title>
  </ion-toolbar>

  <ion-segment mode="md" no-border-bottom color="dark" *ngIf="hasSubTab" [(ngModel)]="selectSubColumnId">
    <ion-segment-button *ngFor="let subColumn of columnModel.subColumns" value="{{subColumn.columnId}}" (ionSelect)="selectedSubTab(subColumn)">
      <span>{{subColumn.columnName}}</span>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="600">
    <ion-refresher-content
      pullingText="我刷,我刷,我刷刷刷"
      refreshingSpinner="circles"
      refreshingText="正在努力加载,请稍后...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header *ngFor="let item of items">
      <ion-thumbnail item-left>
        <img src="{{item.icon}}" alt="" />
      </ion-thumbnail >
      <h2>{{item.title}}</h2>
      <p>{{item.note}}</p>
    </ion-list-header>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
